<%- include('partials/header') %>



 <form action="" id="submitfile">
    <input name="routeFile" id="routeFile" class=" me-2 m-3" type="text" placeholder="ruta de archivo" aria-label="Search">
    <button  class="btn text-light bg-primary " type="submit">Select</button>
</form>
    









<script src="create-product.js"></script>
<%- include('partials/footer') %> 
